[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logzero = "*"
pypdf2 = "*"
python-docx = "*"
pytest = "*"
beautifulsoup4 = "*"
pandas = "*"
openpyxl = "*"
spacy = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
