<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        div+p {
            display: none;
        }
        
        div.fold+p {
            display: inline;
        }
    </style>
</head>

<body>
    <div id="vm">
        <p>[[ greeting ]]</p>

        <div @click="count++">
            You clicked me [[count]] times.
        </div>

        <div @click="e => e.target.classList.toggle('fold')">
            <div>Click Me</div>
            <p>Now, I appear!</p>
        </div>

    </div>


    <script>
        const {
            createApp
        } = Vue

        createApp({
            delimiters: ['[[', ']]'],
            data() {

                return {
                    greeting: 'Hello Vue!',
                    count: 0
                }
            }
        }).mount('#vm')
    </script>

</body>

</html>